
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

<div class="container px-10 pt-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/DailyPlan">Daily Plan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Priority/">Prioritized Daily Plan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/PrDetails">Add PR Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Stock">Add Stock Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/LoadPlan/PlanedPriorities">Priorities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  active" href="/LoadPlan">Load Plan - CFA</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" ng-app="LoadPlan" ng-controller="LoadPlanController">
        <div id="menu2" class="container tab-pane active " ng-init="init()">
            <h3 class="my-3 text-center text-primary my-3">Load Plan</h3>


            <div class="container-fluid pb-3  mb-3">
                <div class="row">
                    <div class="col-md-3  mt-3">
                        <div class="form-group">
                            <label class="text-primary" for="cfa">Select CFA</label>
                            <select class="form-control" ng-change="getInitialData()" name="cfa" id="cfa" ng-model="payload.CfaId" required>
                                <option value="" selected="selected">Select CFA</option>
                                <option ng-repeat="x in cfa" value="{{x.CfaId}}">{{x.DepoCode}}</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 mt-3">
                        <div class="form-group">
                            <label class="text-primary" for="cfa">&nbsp;</label>
                            <select class="form-control" ng-change="getInitialData()" name="cfa" id="cfa" ng-model="payload.CfaId" required>
                                <option value="" selected="selected">Select CFA</option>
                                <option ng-repeat="x in cfa" value="{{x.CfaId}}">{{x.CfaLocation}}</option>

                            </select>
                        </div>
                    </div>
                    @*<div class="col-md-3 mt-3">
                        <div class="form-group">
                            <label class="text-primary" for="cfa">Enter No Of Trucks</label>
                            <input type="text" ng-model="NoOfTrucks" ng-change="priorityForm()" class="form-control" />

                        </div>
                    </div>*@

                    <div class="col-md-4 mt-3">
                        <div class="form-group">
                            <label class="text-primary" for="cfa">Date</label>
                            <input class="form-control" type="date" ng-model="payload.Plandate" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group mt-4">
                            <br />
                            <button class="btn btn-custom btn-gradient" style="height: 31px; display: inline-flex; align-items: center;" ng-click="loadtruck()"> Add Truck</button> 
                        </div>
                    </div>


                </div>
            </div>

            <div class=" container-fluid pb-4 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success">
                            <strong class="text-primary">Total Weight : {{weight/1000}} Tons  </strong>
                            <strong class="float-right"> Remaining Weight : {{remainingCapacity/1000}} Tons</strong>
                        </div>
                        
                    </div>
                   
                </div>
            </div>
            <div class="container-fluid pb-5" ng-show="lpShow" >
                <div class="row px-3">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <label class="text-primary">Truck Number (Tag)</label>
                        <input type="text" class="form-control" ng-model="payload.TruckNumber" />
                    </div>
                    <div class="col-md-4 ">
                        <div class="row">
                            <label class="text-primary">Select Truck </label>
                            
                                <select class="form-control"  ng-change="getPlan()" ng-model="payload.TruckId"   required>
                                    <option value="" selected="selected">Select Truck</option>
                                    <option ng-repeat="x in trucks" value="{{x.TruckId}}">{{x.Name}}</option>

                                </select>
                        </div>
                    </div>
                    @*<div class="col-md-1">
                        <br />
                        <button class="btn btn-custom btn-gradient" style=" height: 29px; position: relative; top: 8px; display: inline-flex; align-items: center;">✔</button>
                    </div>*@
                </div>
                <table class=" w-100 my-4" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-center captions">Preview Load Plan for Selected Truck</th>
                        </tr>
                        <tr class="tr-head">
                            <th>
                                Cfa
                            </th>
                            <th>
                                Sku
                            </th>
                            <th>
                                Quantity
                            </th>

                            <th>
                               Rank
                            </th>
                         

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in planed">
                            <td>{{p.Cfa.DepoCode}} - {{p.Cfa.CfaLocation}}</td>
                            <td>{{p.Sku.SkuCode}} - {{p.Sku.SkuTitle}}</td>
                            <td>{{p.ToLoad}}</td>
                            <td>{{p.Rank}}</td>
                        </tr>

                    </tbody>
                </table>
                <div class="row" ng-show="isMsg">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            <strong class="text-primary"> {{capacityLeft}} kg Capacity of selected Truck  is still  required to fulfill 95% . Please Confirm Do You want to Load Sku from future Pr ? <br />     </strong>

                        </div>
                        <button class="btn btn-custom btn-gradient mt-2 float-right" ng-click="getplanFromPr()">Confirm</button>
                    </div>
                </div>
                <div class="container-fluid px-0">
                    <button class="btn btn-custom btn-gradient" ng-click="confirm()">Load</button>
                </div>
               
            </div>
            <div class="container">
                <table class=" w-100 my-4" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-center captions">Load Plan</th>
                        </tr>
                        <tr class="tr-head">
                            <th>
                                Cfa
                            </th>
                            <th>
                                Sku
                            </th>

                       
                            <th>
                                Quantity
                            </th>
                            <th>
                               Truck
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in loadPlan">
                            <td>{{x.Cfa.DepoCode}} {{x.Cfa.CfaLocation}}</td>
                            <td>{{x.Sku.SkuCode}} {{x.Sku.SkuTitle}}</td>
                          
                            <td>{{x.Qty}}</td>
                            <td>{{x.Truck.Name}}</td>
                            

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @*<script src="~/Content/vendor/jquery/jquery.min.js"></script>*@
    <script src="~/Content/js/angular.js"></script>
    <script src="~/Content/js/LoadPlan/plan.js"></script>

}
