@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tata Consumer Products Limited</title>
    <link rel="stylesheet" href="/Content/fonts/font-awesome-4/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/fonts/fontawesome-free-5/css/all.css">
    <link rel="stylesheet" href="/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/main.css">

</head>
<body>
    <div class="container-fluid  px-lrg my-4">
        <div class="row">
            <div class="col-md-6 pl-0">
                <img src="/Content/images/header.png" alt=" tata consumer ltd" style="width:95%">
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-end">
                    <img src="/Content/images/logo.png" class="logo" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3 px-xlrg ">
        <div style="min-height: 65vh;" class="d-flex flex-wrap justify-content-center">
            <div class=" mt-4">
                <a href="/LoadPlan">
                    <div class="custom-card bg-light p-4">
                        <img src="/Content/images/icons/prod.png" alt="">
                        <h3> Add Load Plan </h3>
                    </div>
                </a>
            </div>
            <div class=" mt-4">
                <a href="/PrDetails">
                    <div class="custom-card bg-light p-4">
                        <img src="/Content/images/icons/blend.png" alt="">
                        <h3>Add PR Details </h3>
                    </div>
                </a>
            </div>
            <div class=" mt-4">
                <a href="/Stock">
                    <div class="custom-card bg-light p-4">
                        <img src="/Content/images/icons/dispatch.png" alt="">
                        <h3>Add Stock Details </h3>
                    </div>
                </a>
            </div>

            <div class=" mt-4">
                <a href="load-plan.html">
                    <div class="custom-card bg-light p-4">
                        <img src="/Content/images/icons/package.png" alt="">
                        <h3>Load Plan </h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container text-center my-4">
        <p class="d-inline-block float-center attr"> DESIGNED AND DEVELOPED BY <a href="https://i-diligence.com/">IDILIGENCE SOLUTIONS PVT LTD</a></p>
    </div>

    <script src="/Content/vendor/jquery/jquery.min.js"></script>
    <script src="/Content/js/popper.js"></script>
    <script src="/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/js/main.js"></script>
   
   
</body>
</html>